/* course */

#addCourse{
    color: #fff;
    padding: 20px;
    font-size: 27px;
    position: absolute;
    border-radius:100px 400px;
    right:0;
    bottom: 40px;
}

.status-user{
    width: 15px;
    height: 15px;
    border-radius: 360px;
}


.status-user-0{
    background: tomato;
}


.status-user-1{
    ;
    background: limegreen;
}
